matplotlib==3.10.6
numpy==2.3.2
pandas==2.3.2
plotly==6.3.0
psycopg2-binary==2.9.10
pyarrow==21.0.0
fastparquet==2024.11.0
python-dotenv==1.1.1
requests==2.32.5
scikit-learn==1.7.1
SQLAlchemy==2.0.43
statsmodels==0.14.5
streamlit==1.49.1
supabase==2.19.0
supabase-auth==2.19.0
supabase-functions==2.19.0