numpy==2.3.2
pandas==2.3.2
requests==2.32.5
python-dotenv==1.1.1
matplotlib==3.10.6
pyarrow==21.0.0
fastparquet==2024.11.0
statsmodels==0.14.5
scikit-learn==1.7.1
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
supabase==2.19.0
streamlit==1.49.1
plotly==6.3.0
